.categories {
    background-color: white;
    padding: 25px;
    border: 1px solid #dfdfdf;
    margin-right: 15px;
}

.categories h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
    padding: 7px;
    background-color: rgba(255, 255, 255, .7);
    font-family: titres;
}

.categories li {
    display: flex;
    align-items: center;
    width: 226px;
    padding: 8px 0px 8px 23px;
    left: 17px;
    font-weight: 600;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dfdfdf;
    font-size: 19px;
    color: rgb(51, 51, 51);
    margin: 15px 0px;
}

.categories li:hover {
    cursor: pointer;
    color: black;
    background: rgba(0, 0, 0, .1);
    background: linear-gradient(93deg, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .1) 60%, rgba(255, 255, 255, 1) 100%);
}

.categories__origin img {
    width: 200px;
    /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);

    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    width: 273px;
    margin-top: 14px;
}

.categories li:hover img {
    transform: translateX(-10px);
}

.categories li img {
    width: 30px;
    margin-right: 15px;
    padding: 5px;
}

.categories.open {
    transform: translateX(0);
    right: 0;
}

.categories__miniMenu{
    display:none;
}