.steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    color: rgb(51, 51, 51);
}

.steps img {
    width: 100px;
    border-radius: 50%;
    height: 100px;
    object-fit: cover;
    margin-bottom: 20px;
}

.steps h3 {
    font-size: 25px;
    margin-bottom: 25px;
}

.steps__category {
    display: flex;
}
.steps__category p{
    margin: 15px;
}

.createForm{
    width: 60%;
    margin: auto;
}